Hello_World/.vs/Hello_World/v15/Browse.VC.opendb
Hello_World/.vs/
Hello_World/Debug/
Hello_World/Hello_World.sln
Hello_World/Hello_World/Debug/
Hello_World/Hello_World/Hello_World.vcxproj
Hello_World/Hello_World/Hello_World.vcxproj.filters
Hello_World/Hello_World/stdafx.cpp
Hello_World/Hello_World/stdafx.h
Hello_World/Hello_World/targetver.h
Hello_World/Hello_World/x64/
Hello_World/x64/
-w